<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body class="error_body">
    <div class="container error_container">
        <div class="error_body">
            <h1 class="title title_error"> {{ .Code}} </h1>
                <p>{{ .Message}} </p>
        </div>
        <div class="btn">
            <div class="btn_error">
                <a href="/" class="button_error">Back Home</a>
            </div>
        </div>
    </div>
<style>
    
</style>
    
</body>
</html>